# dependencies
**/node_modules/
.pnp
.pnp.*

# build outputs
**/dist/
**/.next/
**/out/
build/
*.tsbuildinfo
*.tgz

# coverage
coverage/
.nyc_output/

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env files
.env
.env.*
!.env.example

# OS
.DS_Store

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# temp
.temp
.tmp

# runtime data
pids
*.pid
*.seed
*.pid.lock

# diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
