/* =============================================================
PLIK: styles/_variables.scss
============================================================= */

$primary: #4f46e5; // indigo-600
$primary-600: #4f46e5;
$primary-500: #6366f1;
$radius-2xl: 1rem;
$shadow: 0 6px 16px rgba(2, 6, 23, 0.08);
$text-muted: #475569; // slate-600
